<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ch.allon.redskin.internal.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.allon.redskin.internal.ui.WorkPerspective"
            icon="icons/perspectives/work.gif"
            id="ch.allon.redskin.ui.WorkPerspective"
            name="Arbeitssicht">
      </perspective>
      <perspective
            class="ch.allon.redskin.internal.ui.OrderPerspective"
            icon="icons/perspectives/order_pers.gif"
            id="ch.allon.redskin.ui.OrderPerspective"
            name="Auftragssicht">
      </perspective>
      <perspective
            class="ch.allon.redskin.internal.ui.CustomerPerspective"
            icon="icons/perspectives/customer_pers.gif"
            id="ch.allon.redskin.ui.CustomerPerspective"
            name="Kundensicht">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="ch.allon.redskin.internal.ui.views.WorkView"
            icon="icons/obj/Order.gif"
            id="ch.allon.redskin.ui.views.WorkView"
            name="Auftrag">
      </view>
      <view
            class="ch.allon.redskin.internal.ui.views.ProductView"
            icon="icons/obj/ProductCategory.gif"
            id="ch.allon.redskin.ui.views.ProductView"
            name="Product View"
            restorable="true">
      </view>
      <view
            class="ch.allon.redskin.internal.ui.views.PriceCategoryView"
            icon="icons/obj/PriceCategory.gif"
            id="ch.allon.redskin.ui.views.PriceCategoryView"
            name="Price Category View"
            restorable="true">
      </view>
      <view
            class="ch.allon.redskin.internal.ui.views.OrderListView"
            icon="icons/obj/Order.gif"
            id="ch.allon.redskin.ui.views.OrderListView"
            name="Order List"
            restorable="true">
      </view>
      <view
            class="ch.allon.redskin.internal.ui.views.CustomerView"
            icon="icons/obj/Customer.gif"
            id="ch.allon.redskin.ui.views.CustomerView"
            name="Kunden"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="ch.allon.redskin.core.model.shop.ProductCategory"
            objectClass="ch.allon.redskin.core.model.shop.ProductCategory">
         <action
               class="ch.allon.redskin.internal.ui.actions.NewProductAction"
               enablesFor="1"
               icon="icons/actions/new_product.gif"
               id="ch.allon.redskin.ui.actions.NewProductAction"
               label="Neues Produkt"
               menubarPath="additions">
         </action>
         <action
               class="ch.allon.redskin.internal.ui.actions.NewProductCategoryAction"
               enablesFor="1"
               icon="icons/actions/new_product_category.gif"
               id="ch.allon.redskin.ui.actions.NewProductCategoryAction"
               label="Neue Kategory"
               menubarPath="additions">
         </action>
         <action
               class="ch.allon.redskin.internal.ui.actions.EditProductCategoryAction"
               enablesFor="1"
               icon="icons/actions/edit_product_category.gif"
               id="ch.allon.redskin.ui.actions.EditProductCategoryAction.Edit"
               label="Bearbeiten"
               menubarPath="additions">
         </action>
         <action
               class="ch.allon.redskin.internal.ui.actions.DeleteProductCategoryAction"
               enablesFor="+"
               icon="icons/actions/delete_product_category.gif"
               id="ch.allon.redskin.ui.action5"
               label="Löschen"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ch.allon.redskin.core.model.shop.Product"
            objectClass="ch.allon.redskin.core.model.shop.Product">
         <action
               class="ch.allon.redskin.internal.ui.actions.EditProductAction"
               enablesFor="1"
               icon="icons/actions/edit_product.gif"
               id="ch.allon.redskin.ui.actions.EditProductAction"
               label="Bearbeiten"
               menubarPath="additions">
         </action>
         <action
               class="ch.allon.redskin.internal.ui.actions.DeleteProductAction"
               enablesFor="+"
               icon="icons/actions/delete_product.gif"
               id="ch.allon.redskin.ui.actions.DeleteProductAction"
               label="Löschen"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ch.allon.redskin.core.model.shop.PriceCategory"
            objectClass="ch.allon.redskin.core.model.shop.PriceCategory">
         <action
               class="ch.allon.redskin.internal.ui.actions.EditPriceCategoryAction"
               enablesFor="1"
               icon="icons/actions/edit_price_category.gif"
               id="ch.allon.redskin.ui.actions.EditPriceCategoryAction"
               label="Bearbeiten"
               menubarPath="additions">
         </action>
         <action
               class="ch.allon.redskin.internal.ui.actions.DeletePriceCategoryAction"
               enablesFor="+"
               icon="icons/actions/delete_price_category.gif"
               id="ch.allon.redskin.ui.actions.DeletePriceCategoryAction"
               label="Löschen"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ch.allon.redskin.core.model.shop.Order"
            objectClass="ch.allon.redskin.core.model.shop.Order">
         <action
               class="ch.allon.redskin.internal.ui.actions.EditOrderAction"
               enablesFor="1"
               icon="icons/actions/edit_order.gif"
               id="ch.allon.redskin.ui.actions.EditOrderAction"
               label="Bearbeiten"
               menubarPath="additions">
         </action>
         <action
               class="ch.allon.redskin.internal.ui.actions.DeleteOrderAction"
               enablesFor="+"
               icon="icons/actions/delete_order.gif"
               id="ch.allon.redskin.ui.actions.DeleteOrderAction"
               label="Löschen"
               menubarPath="additions">
         </action>
         <action
               class="ch.allon.redskin.internal.ui.actions.MarkOrderPaid"
               enablesFor="+"
               icon="icons/actions/paid_order.gif"
               id="ch.allon.redskin.ui.actions.MarkOrderPaid"
               label="Bezahlt"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ch.allon.redskin.core.model.shop.Customer"
            objectClass="ch.allon.redskin.core.model.shop.Customer">
         <action
               class="ch.allon.redskin.internal.ui.actions.EditCustomerAction"
               enablesFor="+"
               icon="icons/actions/edit_customer.gif"
               id="ch.allon.redskin.ui.actions.EditCustomerAction"
               label="Bearbeiten"
               menubarPath="additions">
         </action>
         <action
               class="ch.allon.redskin.internal.ui.actions.DeleteCustomerAction"
               enablesFor="1"
               icon="icons/actions/delete_customer.gif"
               id="ch.allon.redskin.ui.actions.DeleteCustomerAction"
               label="Löschen"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="ch.allon.redskin.core.model.shop.Transaction"
            objectClass="ch.allon.redskin.core.model.shop.Transaction">
         <action
               class="ch.allon.redskin.internal.ui.actions.DeleteTransactionAction"
               enablesFor="+"
               icon="icons/actions/delete_transaction.gif"
               id="ch.allon.redskin.ui.actions.DeleteTransactionAction"
               label="Löschen"
               menubarPath="additions">
         </action>
         <action
               class="ch.allon.redskin.internal.ui.actions.MakeTransactionPaid"
               enablesFor="+"
               icon="icons/actions/paid_transaction.gif"
               id="ch.allon.redskin.ui.actions.MakeTransactionPaid"
               label="Bezahlt"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ch.allon.redskin.ui.application"
            name="Redskin Shop Product">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="Redskin Shop Product">
         </property>
         <property
               name="windowImages"
               value="icons/redskin.gif">
         </property>
         <property
               name="startupProgressRect"
               value="0,299,448,15">
         </property>
      </product>
   </extension>

</plugin>
